/* write your override styles here */
#wall .tag-1 {
    display: none;
    background: url(../images/tag-1.png) no-repeat;
    z-index: 7;
}

#wall #tag-2 {
    background: url(../images/tag-2.png) no-repeat;
    z-index: 6;
    display: block;
}

div#wall #tag-3.slick {
    z-index: 1;
}

#wall {
    width: 960px;
    height: 700px;
}